<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>Reservas de Mis Clases</h1>
    </div>
    <div class="card">
      <div class="card-body">
        <%= render_bookings_or_empty(@bookings, empty_message: "No tienes reservas aún.".html_safe) do %>
          <%= render "shared/bookings/bookings_calendar", bookings: @bookings %>
        <% end %>
      </div>
    </div>
  </div>
</div>
